*, *:before, *:after {
  box-sizing: border-box;
}
body {
  color: #000;
  font-size: 12px;
  font-family: Arial, sans-serif;
}

#bikeCalc {
  width: 100%;
  margin: 40px auto;
  overflow: hidden;
  max-width: 800px;
}
fieldset {
  padding: 0 3% 20px;
  margin: 0;
  border: 0;
  width: 100%;
  min-width: 170px;
}
fieldset:nth-child(6) {
  padding-bottom: 0;
}
legend {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 2px solid #000;
  padding: 3px 6px 3px 0;
  margin-bottom: 5px;
}
.fieldWrapper {
  overflow: hidden;
  margin: 10px 0;
  position: relative;
}
.fieldWrapper:first-child {
  margin-top: 0;
}
.fieldWrapper:last-child {
  margin-bottom: 0;
}
.fieldWrapper label {
  line-height: 1.4em;
  display: inline-block;
  padding-bottom: 3px;
}
.fieldWrapper input, .fieldWrapper select, .fieldWrapper .rangeLabels {
  width: 100%;
  display: block;
  border: 2px solid #333;
  line-height: 20px;
  padding: 3px 6px;
}
.fieldWrapper input[type='range'] {
  padding-left: 0;
  padding-right: 0;
}
.fieldWrapper .rangeLabels {
  border: 0;
  padding: 0 5px;
}
.fieldWrapper .rangeLabels:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  clear: both;
}
.fieldWrapper .rangeLabels .rangeValue {
  display: block;
  float: left;
  padding-bottom: 10px;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
  width: 4.7619047619047619047619047619048%;
}
.fieldWrapper .rangeLabels .rangeValue:first-child {
  left: -1.2380952380952380952380952380952%;
}
.fieldWrapper .rangeLabels .rangeValue:nth-child(2) {
  left: -1.1380952380952380952380952380952%;
}
.fieldWrapper .rangeLabels .rangeValue:nth-child(3) {
  left: -0.9380952380952380952380952380952%;
}
.fieldWrapper .rangeLabels .rangeValue:nth-child(4) {
  left: -0.8380952380952380952380952380952%;
}
.fieldWrapper .rangeLabels .rangeValue:nth-child(5) {
  left: -0.7380952380952380952380952380952%;
}
.fieldWrapper .rangeLabels .rangeValue:nth-child(6) {
  left: -0.6380952380952380952380952380952%;
}
.fieldWrapper .rangeLabels .rangeValue:nth-child(7) {
  left: -0.5380952380952380952380952380952%;
}
.fieldWrapper .rangeLabels .rangeValue:nth-child(8) {
  left: -0.4380952380952380952380952380952%;
}
.fieldWrapper .rangeLabels .rangeValue:nth-child(9) {
  left: -0.3380952380952380952380952380952%;
}
.fieldWrapper .rangeLabels .rangeValue:nth-child(10) {
  left: -0.2380952380952380952380952380952%;
}
.fieldWrapper .rangeLabels .rangeValue:nth-child(12) {
  right: -0.2380952380952380952380952380952%;
}
.fieldWrapper .rangeLabels .rangeValue:nth-child(13) {
  right: -0.3380952380952380952380952380952%;
}
.fieldWrapper .rangeLabels .rangeValue:nth-child(14) {
  right: -0.4380952380952380952380952380952%;
}
.fieldWrapper .rangeLabels .rangeValue:nth-child(15) {
  right: -0.5380952380952380952380952380952%;
}
.fieldWrapper .rangeLabels .rangeValue:nth-child(16) {
  right: -0.6380952380952380952380952380952%;
}
.fieldWrapper .rangeLabels .rangeValue:nth-child(17) {
  right: -0.7380952380952380952380952380952%;
}
.fieldWrapper .rangeLabels .rangeValue:nth-child(18) {
  right: -0.8380952380952380952380952380952%;
}
.fieldWrapper .rangeLabels .rangeValue:nth-child(19) {
  right: -0.9380952380952380952380952380952%;
}
.fieldWrapper .rangeLabels .rangeValue:nth-child(20) {
  right: -1.1380952380952380952380952380952%;
}
.fieldWrapper .rangeLabels .rangeValue:last-child {
  right: -1.2380952380952380952380952380952%;
}
.fieldWrapper .rangeLabels .rangeValue:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 2px;
  height: 6px;
  background: #000;
  margin-left: -1px;
}
.fieldWrapper .rangeLabels .rangeValue:nth-child(11):after, .fieldWrapper .rangeLabels .rangeValue:first-child:after, .fieldWrapper .rangeLabels .rangeValue:last-child:after {
  background: #eb000e;
}
.fieldWrapper select {
  height: 30px;
  padding: 3px 1px;
}
.fieldWrapper .disableInputButton {
  display: block;
  text-decoration: none;
  width: 26px;
  height: 26px;
  position: absolute;
  bottom: 2px;
  right: 26px;
  z-index: 5;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.fieldWrapper .disableInputButton:hover {
  background: #ccc;
}
.fieldWrapper .disableInputButton:before, .fieldWrapper .disableInputButton:after {
  content: "";
  width: 12px;
  height: 2px;
  background: #000;
  position: absolute;
  top: 11.5px;
  left: 7px;
  z-index: 10;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
.fieldWrapper .disableInputButton:after {
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}
.fieldWrapper.disabled .disableInputButton:before {
  -webkit-transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}
.fieldWrapper.disabled .disableInputButton:after {
  -webkit-transform: rotateZ(0);
  -moz-transform: rotateZ(0);
  transform: rotateZ(0);
}

@media all and (min-width: 768px) {
  .fieldWrapper input[type='range'] {
    padding-left: 5px;
    padding-right: 5px;
  }
  .fieldWrapper .rangeLabels .rangeValue {
    text-align: center;
    text-indent: 0;
    white-space: normal;
  }
}