<div class="bikeSelectWrapper">
  <fieldset>
    <legend>Preloaded Bikes</legend>
    <div class="fieldWrapper">
      <label for="bikeName">Bike Name</label>
      <select name="bikeName" class="bikeName" required="required">
            {{#bikeOptions}}
                {{{text}}}
            {{/bikeOptions}}
      </select>
    </div>
  </fieldset>
</div>
<div class="bikeViewWrapper"></div>